#app {
    height: 100%;
}
.div-align-middle:before {
    content: '';
    display: inline-block;
    vertical-align: middle ;
    height: 100%;
}
.animate-in {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 1s ease-out;
    -moz-transition: opacity 1s ease-out;
    -o-transition: opacity 1s ease-out;
    transition: opacity 1s ease-out;
}
.animate-out {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 1s ease-out;
    -moz-transition: opacity 1s ease-out;
    -o-transition: opacity 1s ease-out;
    transition: opacity 1s ease-out;
}
.sticky {
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
}
.ease-out-left {
  opacity: 0;
  transition: opacity 0.5s ease-out;
  animation: left-ease 0.5s;
}
.ease-out-right {
  opacity: 0;
  transition: opacity 0.5s ease-out;
  animation: right-ease 0.5s;
}
@keyframes crescendo {
  0%   {transform: scale(1);}
  100% {
    transform: 
      translateY(30%)
      scale(3.5);
  }
}
@keyframes right-ease {
  0%   {transform: translateX(10%);}
  100% {transform: translateX(50%);}
}
@keyframes left-ease {
  0%   {transform: translateX(-10%);}
  100% {transform: translateX(-50%);}
}
iframe {
   background:url("../loading.gif");
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
}